/* Header bar's URL bar */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#urlbar {
	--urlbar-height: 28.00px;
	--urlbar-toolbar-height: 28.00px !important;
	text-align: center !important;
}

/* Center the URL bar */
toolbarspring {
	max-width: 10000px !important;
}

/* URL bar */
#urlbar {
	box-shadow: none !important;
}
#urlbar-background {
	box-shadow: var(--nordic-entry-box-shadow) !important;
	border: 0 !important;
	background: transparent !important;
}

#urlbar[breakout][breakout-extend] {
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	z-index: 5 !important;
	padding: 0 !important;
}
#urlbar[breakout][breakout-extend][open] {
	height: auto !important;
	max-height: unset !important;
}
#urlbar #urlbar-input-container {
	padding: 0 !important;
}
#urlbar[breakout][breakout-extend] #urlbar-input-container {
	height: 30px !important;
	max-height: 30px !important;
}

/* URL bar results */
.urlbarView {
	background: transparent !important;
	color: var(--nordic-toolbar-color) !important;
	margin: 0 !important;
	width: 100% !important;
}

.urlbarView-body-outer {
	--item-padding-start: 0 !important;
	--item-padding-end: 0 !important;
	overflow-x: auto;
	padding: 0 8px !important;
}

.urlbarView-body-inner {
	border: 0 !important;
}

.urlbarView-row-inner, .urlbarView-no-wrap  {
	align-items: center !important;
}
.urlbarView-row-inner {
	padding-block: 5px !important;
	border-radius: 5px !important;
}

.urlbarView-row[selected] .urlbarView-row-inner {
	background: var(--nordic-accent) !important;
	color: white;
}
.urlbarView-row:not([selected]):hover .urlbarView-row-inner {
	background: var(--nordic-popover-button-hover-background) !important;
}

.urlbarView-action {
	background: transparent !important;
}

/* Search engines buttons */	
.search-one-offs {
	margin-bottom: 2px !important;
	padding: 8px !important;
	background: var(--nordic-popover-background) !important;
	border-top: 1px solid var(--nordic-popover-border-color) !important;
	border-radius: 0 0 5px 5px !important;
}

#urlbar-anon-search-settings-compact {
	border-left-width: 1px !important;
	border-bottom: 1px solid var(--nordic-button-border-accent-color) !important;
	border-radius: 5px;	
	margin-left: 6px !important;
}

/* URL bar and Search bar */
#urlbar[focused] .urlbar-textbox-container {
	margin: -1px !important;
}
#searchbar > .searchbar-textbox[focused] .searchbar-search-button {
	margin-left: -1px !important;
}
#searchbar > .searchbar-textbox[focused] .search-go-button {
	margin-right: -1px !important;
}

/* URL bar and Search bar's icons */
.urlbar-icon:hover,
.urlbar-icon-wrapper:hover,
.urlbar-icon[open],
.urlbar-icon-wrapper[open],
.urlbar-icon:hover:active,
.urlbar-icon-wrapper:hover:active,
.searchbar-search-button:hover .searchbar-search-icon,
.searchbar-search-button[open] .searchbar-search-icon,
.searchbar-search-button:hover:active .searchbar-search-icon {
	background-color: transparent !important;
	fill-opacity: 1 !important;
}

/* Search mode indicator */
#urlbar-search-mode-indicator,
#urlbar-label-box,
#urlbar-zoom-button {
	background: var(--nordic-popover-background) !important;
	border: 1px solid var(--nordic-popover-border-color) !important;
	border-radius: 9px;
	outline: 0 !important;
	margin: 4px 0;
}
#urlbar-search-mode-indicator-title {
    color: #0060df;
    padding-inline: 4px !important;
}
#urlbar-search-mode-indicator-close {
	background-size: contain !important;
	border-radius: 0 9px 9px 0;
	opacity: 0.8;
}
#urlbar-zoom-button {
	opacity: 0.8;
}
#urlbar-zoom-button:hover {
	opacity: 1;
}

/* Firefox identity box */
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#urlbar-label-box {
  background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button:hover:not([open]),
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:hover:not([open]),
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover:not([open]) {
  background-color: hsla(0,0%,70%,.2) !important;
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button:hover:active,
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button[open=true],
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:hover:active,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button[open=true],
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover:active,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button[open=true] {
  background-color: hsla(0,0%,70%,.3) !important;
}
